@page
@model App.Pages.TimeCalculator.IndexModel
@{
}

<h4>This application calculates the number of days between two dates. Please insert two dates: </h4>

<table class="table">

    <tbody>
        <tr>
            <th>Date 1</th>
            <th>
                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                    <input id="datePicker1" type="text" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </th>
            <th></th>
        </tr>

        <tr>
            <th>Date 2</th>
            <th>
                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                    <input id="datePicker2" type="text" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </th>
            <th></th>
        </tr>
    <tr>
        <th>
            <button type="button" id="btnSubmit" class="btn btn-primary">
                Submit
            </button>
            <span class="">
                <span class="row">
                    <span class="resultcontainer" style="display: none">
                        @Html.Label("")
                        <span style="color: red" class="labelResult"></span>
                    </span>
                </span>
            </span>
        </th>

        <th></th>
        <th></th>
    </tr>
    </tbody>
</table>

@section scripts {
    <script>
        var _tmr;
        $(document).ready(function () {

            $('#datePicker1').val(formattedDate());
            $('#datePicker2').val(formattedDate());
            function formattedDate() {
                var d = new Date;
                var month = String(d.getMonth() + 1);
                var day = String(d.getDate());
                var year = String(d.getFullYear());

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return day + '/' + month + '/' + year;
            }

            $("#btnSubmit").click(function () {
                Spinner(true, "Please wait...");

                var datePicker1 = $('#datePicker1').val();
                var datePicker2 = $('#datePicker2').val();

                $.ajax({
                    url: "TimeCalculator/Index/?handler=TimeCalculation",
                    data: { date1: datePicker1, date2: datePicker2 },
                    success: function (result) {
                        Spinner(false);
                        $('.resultcontainer').show();
                        $('.labelResult').html(result);
                        // alert(result);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        Spinner(false);
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });
            });
        });
    </script>
}
